@using Microsoft.AspNetCore.Http

@using Raspisanie.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Raspisanie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toastr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Raspisanie.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.1.36/fluent.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Raspisanie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="NavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Управление данными
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Auditoria" asp-action="Index">Аудитории</a></li>
                                <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Index">Преподователи</a></li>
                                <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Predmet" asp-action="Index">Дисциплины</a></li>
                                <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Group" asp-action="Index">Группы</a></li>
                                <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Placement" asp-action="Index">Растановки</a></li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О разработчике</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="user-select: none;" id="requestsButton">Показать запросы</a>
                        </li>
                        

                        <div id="requestsModal" class="modal">
                            <span class="LBL">Заявки</span><span class="close"></span>
                            <div class="modal-content">
                                <div id="myModalHeader">
                                    
                                </div>
                                
                                <div id="requestsListContainer"></div>
                            </div>
                        </div>

                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div >
            &copy; 2024 - Raspisanie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/23.1.36/dist/ej2.min.js"></script>
    <script>
        // Делаем модальное окно перемещаемым
        function dragElement(element) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(element.id + "Header")) {
                // если присутствует элемент с id header, то перемещение за этот элемент
                document.getElementById(element.id + "Header").onmousedown = dragMouseDown;
            } else {
                // иначе перемещение за само модальное окно
                element.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // получаем начальные координаты курсора:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // вызываем функцию при каждом движении курсора:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // вычисляем новые координаты курсора:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // устанавливаем новые координаты элемента:
                element.style.top = (element.offsetTop - pos2) + "px";
                element.style.left = (element.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                // останавливаем перемещение при отпускании кнопки мыши:
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        $(document).ready(function () {
            var modal = $('#requestsModal');
            var btn = $('#requestsButton');
            var span = $('.close');
            var interval;

            function updateRequests() {
                $.ajax({
                    url: '@Url.Action("RequestsList", "Home")',
                    type: 'GET',
                    success: function (data) {
                        $('#requestsListContainer').html(data);
                    }
                });
            }

            btn.click(function () {
                updateRequests();
                modal.show();
                dragElement(modal[0]); // Инициализируем функцию перемещения

                // Запускаем периодическое обновление каждые 5 секунд (5000 мс)
                interval = setInterval(updateRequests, 5000);
            });

            span.click(function () {
                modal.hide();
                clearInterval(interval); // Останавливаем периодическое обновление
            });
        });
    </script>
    


    <style>
        .modal {
            display: none; /* Скрыть модальное окно по умолчанию */
            position: fixed; /* Оставаться на месте при прокрутке */
            z-index: 1000; /* Высокий z-index, чтобы окно было поверх других элементов */
            left: 0;
            top: 0;
            padding:10px;
            padding-bottom:10px;
            width: 700px;
            
            max-height: 400px; /* Автоматическая высота */
            box-shadow: 0px 0px 15px black;
            background-color:#00001050;
            border-radius:15px;
            overflow: hidden;
        }

        .modal-content {
            background-color: #fefefe;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%; /* Можно изменить на нужную ширину */
            overflow-y: auto; /* Позволяет прокрутку, если содержимое превышает высоту */
            height: 89%; /* Максимальная высота, после которой начнется прокрутка */
            position: relative; /* Относительное позиционирование для удобства перемещения */
        }

        .close {
            height:25px;
            width:25px;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            background-color:red;
            font-size:20px;
            border-radius:15px;
            
            opacity: 0.75;
        }
        .LBL{
            font-size:20px;
            font-weight:bolder;
            opacity: 1 ;
        }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
