@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="sendMessageButton">Отправить сообщение боту</button>
    <button disabled id="GenerateFile">Сгенерировать расписание и отправить его в бота</button> 
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <form method="post" asp-action="Generate">
        <div style="height:auto; width:300px">
            <label>Номер группы</label>
            <input class="form-control" name="groupNumber" />
            <button type="submit" class="btn btn-danger w-100">Сгенерировать</button>
        </div>
    </form>





</div>
<script>
    document.getElementById('sendMessageButton').addEventListener('click', async () => {
        const response = await fetch('/SendMessageToBot');
        const data = await response.json();
        console.log(data);
    });
</script>