@model Raspisanie.Models.Auditoria

<form method="post" asp-action="Create">
    <div class="border p-3">

        <div class="mb-3 row">
            <h2 class="text-info pl-3"> Создать аудиторию</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="AuditoryName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="AuditoryName" class="form-control" />
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="Proektor"></label>
                    </div>
                    <div class="col-8">
                        <input class="form-check-input" asp-for="Proektor" /> 
                        <span asp-validation-for="Proektor" class="text-danger"></span>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="LekciaOrPractica"></label>
                    </div>
                    <div class="col-8">
                        <input class="form-check-input" asp-for="LekciaOrPractica" /> 
                        <span asp-validation-for="LekciaOrPractica" class="text-danger"></span>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Создать" />
                        </div>
                        <div class="col">
                            <a asp-controller="Auditoria" asp-action="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

